html, body {
    height: 100%;
}
body {
    font-family: sans-serif;
    margin: 0;
    background: slategray;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-width: min-content;
    min-width: -moz-min-content;
    min-width: -webkit-min-content;
}

.header {
    background: palevioletred;
    margin-bottom: 40px;
    height: 60px;
    display: flex;
    align-items: center;
}

#title {
    color: white;
    margin-left: 16px;
    font-size: 18px;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 880px;
}

#dataviz {
    background: #f1f1f1;
    background: darkgray;
    max-width: min-content;
    max-width: -moz-min-content;
    max-width: -webkit-min-content;
    padding: 30px 40px 10px 40px;
    box-shadow: 0 0 13px -3px rgba(0,0,0,0.5);
}

.bar {
    fill: white;
}

.bar.selected {
    fill: red;
}

.bar-box {
    fill: transparent;
}

#statbar {
    overflow: visible;
}

#tooltip {
    font-size: 12px;
}

#controls {
    margin: 30px 0;
}

button.filter-stats {
    width: 80px;
    margin: 0 10px 0 10px;
    padding: 4px 8px;
    text-align: center;
}

button.active {
    color: blue;
}

.message-box {
    width: 840px;
    margin-top: 10px;
    border-left: 1px solid rgba(255,255,255,0.8);
    padding-left: 20px;
    font-family: monospace;
}
#message-date {
    font-size: 12px;
}

#message {
    font-size: 18px;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    background: palevioletred;
}

.footer-text {
    color: white;
    font-size: 12px;
    margin: 0 16px;
}